# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Node.js
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Build e publish
wwwroot/css/app.min.css
wwwroot/dist/

# Outros arquivos temporários
*.log
*.tmp 
GestaoPiscina.Server/GestaoPiscina.db-wal
GestaoPiscina.Server/GestaoPiscina.db-shm
